/* .container{
    display: flex;
    justify-content: center;
    align-items: center;
} */
 body{
    /* height: 100vh; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-size: 16px;
 }
 section{
    background-color: white;
 }
 .container{
      background-color: white;
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 50px;
      border-radius: 10px;
      padding: 10px;
      position: relative;
      gap: 10px;
      min-height: 400px;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
}
.weathercards{
    width: 90%;
    margin-top: 10px;
    display: grid;
    
    grid-template-columns: repeat(auto-fit,minmax(180px,1fr));
    padding: 15px;
    z-index: 2;
  
  


}
.weathercard{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    /* margin: 10px; */
    
}
i{
    font-size: 25px;
}

.minmaxtemp{
    display: flex;
    gap: 20px;

}

form{
    /* width: 100%; */
    display: flex;
    /* justify-content: center; */

    /* right: 120px; */
    position:relative;

    
}
input{
    padding-left: 25px;
    width: 100%;
    max-width: 300px;
    font-size: 16px;
   
   
}
.fa-magnifying-glass{
    padding: 5px;
    font-size: 14px;
    position: absolute;
    z-index: 1;
}
.middlepart{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.weatherdata{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.weatherforecast{
    width: auto;
    border-radius: 15px;
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 18px;
    
}

  @media (max-width: 600px){


    .weathercards{
        grid-template-columns:1fr;
    }

    input{
        max-width:100%;
    }

}
